@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "ubuntu-bold";
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu-medium";
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu-regular";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eef5ff;
  }
}

body {
  background: var(--background);
  /* font-family: Arial,
    Helvetica, sans-serif; */
  font-family: "ubuntu-bold", "ubuntu-regular", "ubuntu-medium", Arial,
    Helvetica, sans-serif;
}
